<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="httpclientconf" type="com.tiger.ian.HtmlClient.HttpClientConfigSectionHandler, com.tiger.ian.HtmlClient"/>
  </configSections>
  <httpclientconf>
    <useragent value="Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; rv:11.0) like Gecko" />
    <accept value="text/html, application/xhtml+xml, */*" />
    <cnzz name="CNZZDATA1000435340" value="232120824-1433125189-|1433398150" path="/" />
    <token name="cgtz_token" value="785187fe686b8833e59944b4a3b109168312ad93s%3A40%3A%227d67534226819606a0823ba2cd14e209ef02fab0%22%3B" />
    <session name="PHPSESSID" value="hc8iha7287kl5cgdhc3k5u4jm3;" />
    <cookie value="CNZZDATA1000435340=232120824-1433125189-%7C1433402821; cgtz_token=785187fe686b8833e59944b4a3b109168312ad93s%3A40%3A%227d67534226819606a0823ba2cd14e209ef02fab0%22%3B; PHPSESSID=6brf03kbuvd5k6k0b9gpuvg3c4" />
  </httpclientconf>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>