<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="httpclientconf" type="com.tiger.ian.HtmlClient.HttpClientConfigSectionHandler, com.tiger.ian.HtmlClient"/>
  </configSections>
  <httpclientconf>
    <useragent value="Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.2; SV1; .NET CLR 1.1.4322; .NET CLR 2.0.50727; .NET CLR 4.0.30319)" />
    <accept value="text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" />
    <cnzz name="CNZZDATA1000435340" value="232120824-1433125189-%7C1433229959" />
  </httpclientconf>
</configuration>