<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="httpclientconf" type="com.tiger.ian.HtmlClient.HttpClientConfigSectionHandler, com.tiger.ian.HtmlClient"/>
  </configSections>
  <httpclientconf>
    <useragent value="Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; rv:11.0) like Gecko" />
    <accept value="text/html, application/xhtml+xml, */*" />
    <cnzz name="CNZZDATA1000435340" value="232120824-1433125189-%7C1433229959" path="/" />
    <lan name="Accept-Language" value="en-US,en;q=0.8,zh-Hans-CN;q=0.5,zh-Hans;q=0.3" />
    <encodding name="Accept-Encoding" value="gzip, deflate" />
    <keepalive value="true" />
  </httpclientconf>
</configuration>